.full-heigth {
  height: 100vh;
}
.full-width {
  width: 100vw;
}
.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
  margin-top: -180px; // to fix the top bar height
}

.justify-content-center {
  justify-content: center;
}

.font-bolder{
 font-weight: bolder;
}

.font-underline{
  text-decoration: underline dashed;
}

//for avatar

.item-thumb{
  width: 80px !important;
  height: 80px !important;
}
